.blog-box p {
  font-size: 12px;
  color: darken($color-text, 100%);
}

.blog-box h4 {
  font-weight: bold;
  margin-top: 0;
}

.blog-box .panel-heading {
  background: #fff;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-radius: 2px;
  padding: 10px 20px;
  position: relative;
  font-weight: 500;
}

.blog-box .panel-footer {
  color: lighten($color-text, 15%);
}

.blog-box .panel-heading .media-body {
  line-height: 16px;
}

.blog-box .panel-heading .media img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.blog-box .panel-heading .media-body h5 {
  margin-top: 0;
}

.blog-box .panel-image {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  position: relative;
}

.blog-box .panel-image .title {
  position: absolute;
  bottom: 10px;
  padding: 10px 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

.blog-box .panel-image .title h4 {
  margin-bottom: 0px;
}

.blog-box .panel-image .title a {
  color: #fff !important;
}

/* added by me, stolen here: https://coolestguidesontheplanet.com/videodrome/youtube/ */
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.blog-article-box .panel-heading {
  background: #fff;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-radius: 2px;
  padding: 0 0 10px 0; // was: 80px 10px;
  position: relative;
  font-weight: 500;
  text-align: center;
}

.blog-article-box .panel-heading h4 {
  font-size: 32px;
  font-weight: 700;
  color: darken($color-text, 100%);
}

.blog-article-box .panel-body {
  padding: 50px 70px;
}

/* added by me */
.blog-article-box .panel-image {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  position: relative;
  display: inline-block; // added by me to position title relative to image
}

/* added by me */
.blog-article-box .panel-image .title {
  position: absolute;
  bottom: 10px;
  padding: 10px 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

/* added by me */
.blog-article-box .panel-image .title h4 {
  margin-bottom: 0px;
  color: #fff !important;
}

/* added by me */
.blog-article-box a {
  text-decoration: underline;
}
/* added by me */
.blog-article-box .metadata {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  color: #fff;
  font-weight: 700;
  text-align: left;
  background: rgba(0, 0, 0, 0.5);
}

/* added by me */
.blog-article-box .panel-body {
  border-top: none;
}

.blog-article-box .panel-body p {
  font-family: "Helvetica Neue", "Open Sans", Helvetica, Verdana;
  font-size: 16px; /* 20px; */
  line-height: 28px; /* 32px; */
  color: darken($color-text, 100%);
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

@media(max-width: 768px) {
  .blog-article-box .panel-body {
    padding: 10px 20px;
  }

  .blog-article-box .panel-body p {
    font-family: "Helvetica Neue", "Open Sans", Helvetica, Verdana;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }

  .blog-article-box .panel-heading {
    padding: 0 0 10px 0; // 20px 20px;
  }

  /* added by me */
  .blog-article-box .metadata {
    display: none;
  }
}