<ul side-navigation class="nav" id="side-menu">
    <li ui-sref="active"><a ui-sref="big-picture">Картина Мира</a></li>
    <li ui-sref="active"><a ui-sref="science">Наука</a></li>
    <li ui-sref="active"><a ui-sref="technology">Технология</a></li>
    <li ui-sref="active"><a ui-sref="business">Бизнес</a></li>
    <li ui-sref="active"><a ui-sref="music">Музыка</a></li>
    <li ui-sref="active"><a ui-sref="people">Люди</a></li>
    <li ui-sref="active"><a ui-sref="miscellaneous">Разное</a></li>
    <li><a ui-sref="about"> <span class="nav-label">Контакты</span> </a></li>
</ul>
