<div class="profile-picture">
    <a href="index.html">
        <img src="/assets/images/burkov_boris_web.jpg" class="img-circle m-b" alt="logo">
    </a>

    <div class="stats-label text-color">
        <span class="font-extra-bold font-uppercase">Борис Бурков</span>

        <div class="dropdown" uib-dropdown>
            <a ui-sref="about">
                <small class="text-muted">Обо мне</small>
            </a>
        </div>
    </div>
</div>

<ul side-navigation class="nav" id="side-menu">
    <li ui-sref="active"><a ui-sref="big-picture">Картина Мира</a></li>
    <li ui-sref="active"><a ui-sref="science">Наука</a></li>
    <li ui-sref="active"><a ui-sref="technology">Технология</a></li>
    <li ui-sref="active"><a ui-sref="business">Бизнес</a></li>
    <li ui-sref="active"><a ui-sref="music">Музыка</a></li>
    <li ui-sref="active"><a ui-sref="people">Люди</a></li>
    <li ui-sref="active"><a ui-sref="miscellaneous">Разное</a></li>
</ul>
