// Color list
$color-teal:#008081;
$color-navy-blue:#34495e;
$color-violet:#9b59b6;
$color-blue:#3498db;
$color-green:#62cb31;
$color-yellow:#ffb606;
$color-orange:#e67e22;
$color-red:#e74c3c;
$color-red-deep:#c0392b;

#side-menu .hwhite {
  border-right: 2px solid $color-teal;
}

#side-menu .hgreen {
  border-right: 2px solid $color-green;
}

#side-menu .hblue {
  border-right: 2px solid $color-blue;
}

#side-menu .hyellow {
  border-right: 2px solid $color-yellow;
}

#side-menu .hviolet {
  border-right: 2px solid $color-violet;
}

#side-menu .horange {
  border-right: 2px solid $color-orange;
}

#side-menu .hred {
  border-right: 2px solid $color-red;
}

#side-menu .hreddeep {
  border-right: 2px solid $color-red-deep;
}

#side-menu .hnavyblue {
  border-right: 2px solid $color-navy-blue;
}

.label-how-life-works {
  background-color: $color-teal;
}

.label-programming {
  background-color: $color-red;
}

.label-business {
  background-color: $color-red-deep;
}

.label-economy {
  background-color: $color-yellow;
}

.label-biomed {
  background-color: $color-green;
}

.label-math {
  background-color: $color-navy-blue;
}

.label-music {
  background-color: $color-blue;
}

.label-history {
  background-color: $color-orange;
}

.label-people {
  background-color: $color-violet;
}
